@model Mundo_PC.Models.usuarios

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var listado = new List<SelectListItem>() {
        new SelectListItem()
        {
            Text = "Ciudad de México",
            Value = "Ciudad de México"
        },
        new SelectListItem()
        {
            Text = "Estado de México",
            Value = "Estado de México",
        }
    };
}
    <body class="fondo-registro">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


        <div class="form-register">
            <div class="register-img">
                <img src="~/img/avatar.png" alt="">
            </div>
            <h1>Registro</h1>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <label for="nombre">*Nombre:</label><br>
            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "controls", @placeholder = "Ingrese su nombre", required = "" } })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            <label for="apellidos">*Apellidos:</label><br>
            @Html.EditorFor(model => model.apellidos, new { htmlAttributes = new { @class = "controls", @placeholder = "Ingrese sus apellidos", required = "" } })
            @Html.ValidationMessageFor(model => model.apellidos, "", new { @class = "text-danger" })
            <label for="correo">*Correo electrónico:</label><br>
            @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "controls", @placeholder = "ejemplo@gmail.com", type = "email", required = "" } })
            @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
            <label for="usr">*Usuario:</label><br>
            @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "controls", @placeholder = "Ingrese usuario", required = "" } })
            @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
            <label for="pw">*Contraseña:</label><br>
            @Html.PasswordFor(model => model.password, new { @class = "controls", @placeholder = "Ingrese contraseña", required = "" })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            <label for="direccion">*Dirección donde vive:</label><br>
            @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "controls", placeholder = "Ingrese su dirección de donde vive", required = "" } })
            @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
            <label for="colonia">*Colonia:</label><br>
            @Html.EditorFor(model => model.colonia, new { htmlAttributes = new { @class = "controls", placeholder = "Ingrese su colonia", required = "" } })
            @Html.ValidationMessageFor(model => model.colonia, "", new { @class = "text-danger" })
            <label for="region">*Región:</label>
            @Html.DropDownList("region", listado, new { @class = "controls" })
            <label for="cp">*Código Postal:</label><br>
            @Html.EditorFor(model => model.cp, new { htmlAttributes = new { @class = "controls", placeholder = "Ejemplo: 05320", pattern = "[0-9]+", MaxLength = "5", MinLength = "5", required = "" } })
            @Html.ValidationMessageFor(model => model.cp, "", new { @class = "text-danger" })
            <label for="telefono">*Teléfono movil:</label><br>
            @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "controls", placeholder = "10 digitos", type="text", pattern = "[0-9]+", MaxLength = "10",  MinLength = "10", required = "" } })
            @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
            <input type="submit" value="Registrar" class="botons" formaction="Create" />
        </div>
        }
        <footer class="footer">
            <div>
                <p>© 2020 Mundo PC. Todos los derechos reservados</p>
            </div>
        </footer>
       
    </body>